body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    font-family: monospace;
}

#outer_container {
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#world_canvas {
    border: 1px solid white;
}

#rule-div {
    word-break: break-word;
    text-align: center;
    width: 600px;
}

#play-pause-btn {
    cursor: pointer;
    user-select: none;
    border: 2px solid white;
    border-radius: 100%;
    margin-bottom: 10px;
}

#speed-slider {
    margin-bottom: 10px;
}